@import "../variables.scss";

$black: darken($primary, 35);
$logo_area: 3.5rem;
$logo_size: 1.75rem;
$logo_padding: 1rem;
$horizontal_breakpoint: 724px;

.history {
  max-width: $max_width;
  margin-left: auto;
  margin-right: auto;

  h3,
  p {
    max-width: 30rem;
  }

  @media all and (min-width: $horizontal_breakpoint) {
    display: flex;
    justify-content: center;

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  main {
    text-align: center;
  }

  .card {
    color: $black;
    max-width: 24rem;
    margin: 2.5rem auto;
    display: inline-block;
    text-align: left;
    padding-bottom: calc(#{$card_padding} / 4);
    position: relative;
    perspective: 500px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $primary;
      border-radius: $card_radius;

      @media all and (min-width: 380px) {
        top: -0.5rem;
        right: -1rem;
        bottom: -0.5rem;
        left: -1rem;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transform: rotateX(1deg) rotateY(350deg) rotateZ(-1deg) translateZ(10px);
      }
    }

    @media all and (min-width: 380px) {
      .card-content {
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transform: rotateY(4deg) translateZ(-8px);
      }
    }

    @media all and (min-width: $horizontal_breakpoint) {
      margin: 2.5rem 2rem;
    }

    h3 {
      font-size: 2rem;
      line-height: 1.875rem;
      padding: 0 $card_padding;
      margin: 1.25rem 0 1.5rem;
      position: relative;
      z-index: 1;
    }
  }

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dt,
  dd {
    padding: 0 $card_padding 0 0;
  }

  dl {
    padding-left: calc(#{$logo_area} + (#{$logo_padding} * 2));
  }

  dt {
    font-size: 1.125rem;
    font-weight: 600;
  }

  dd {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(-#{$logo_padding} - #{$logo_area});
      right: 0;
      height: 2px;
      background: rgba($black, 0.25);
    }

    &:last-of-type {
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }
  }

  figure {
    margin: 0;
    position: absolute;
    left: calc(-#{$logo_area} - #{$logo_padding});
    top: -1.25rem;
    width: $logo_area;
    height: $logo_area;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 4px 7px 1px rgba($black, 0.2),
      0 16px 10px -12px rgba($black, 0.4);

    svg {
      width: $logo_size;
      height: $logo_size;
      fill: $black;
    }
  }

  .title,
  .when {
    @media all and (min-width: $horizontal_breakpoint) {
      white-space: nowrap;
    }
  }

  .title {
    font-size: 0.875rem;
    font-weight: 600;
    display: block;
  }

  .when {
    font-size: 0.75rem;
    font-weight: 600;
  }
}
