@import "./variables.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  font-family: "Signika", sans-serif;
}

html {
  background: black;
  color: white;
  fill: white;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  padding: 2rem 0 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Work Sans", sans-serif;

  em {
    color: $primary;
    font-style: normal;
  }
}

h2 {
  font-size: 3rem;
  line-height: 2.625rem;
  font-weight: 800;
  margin: 0.5rem auto;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.6875rem;
  color: rgba(255, 255, 255, 0.7);
}

section {
  max-width: $max_width;
  margin: 0 auto;
  padding: 0 $gutter;
  overflow: hidden;
}

section + section {
  margin-top: 6rem;
}

a {
  color: $primary;
  text-decoration: underline;
}

.breakable {
  overflow-wrap: break-word;
}

.limited {
  max-width: $max_width;
}

.unlimited {
  max-width: none;
}

.offscreen {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: -2000px;
  left: -2000px;
}
