@import "../variables.scss";

.footer {
  margin-top: 6rem;
  border-top: 4px solid $primary;
  // padding: 4rem 0;

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    margin: 2rem 0 0;
  }

  .meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: $max_width;
    margin: 0 auto;
    padding: 0 $gutter;
    border-top: 1px solid rgba(white, 0.5);
  }

  .copyright,
  .social {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .social {
    display: flex;

    a {
      display: block;

      + a {
        margin-left: 1rem;
      }
    }
  }

  .copyright {
    font-size: 0.75rem;
    font-weight: 200;
    color: rgba(white, 0.75);
  }

  .popup-wrap {
    position: relative;
  }

  .popup {
    position: absolute;
    top: calc(-100% - 0.5rem);

    button {
      white-space: nowrap;
      background: $secondary;
      color: black;
      border-color: $secondary;
    }
  }

  .fill-target {
    fill: white;
    transition: fill 0.25s ease;
  }

  a:hover .fill-target {
    fill: $primary;
  }
}
