@import "../variables.scss";

$horizontal_breakpoint: 470px;
$button_horizontal_breakpoint: 450px;

.footer {
  margin-top: 6rem;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    position: absolute;
    background: linear-gradient(to right, $primary, darken($primary, 30));

    @media all and (min-width: $horizontal_breakpoint) {
      background: linear-gradient(to left, $primary, darken($primary, 30));
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem $gutter;
    margin: 0 auto;
    position: relative;
    max-width: $max_width;

    img {
      position: absolute;
      bottom: 0;
      right: -10px;
      display: block;
      z-index: -1;

      @media all and (min-width: $horizontal_breakpoint) {
        right: unset;
        left: -10px;
        transform: rotateY(180deg);
      }

      @media all and (min-width: 768px) {
        left: 10%;
      }
    }

    h3 {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 2rem;
      text-shadow: 0 0 4px black;
    }
  }

  .meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: $max_width;
    margin: 0 auto;
    padding: 2rem $gutter 0;
    border-top: 1px solid rgba(white, 0.5);
    overflow: hidden;
  }

  .copyright,
  .social {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-basis: 100%;
  }

  .social {
    display: flex;
    justify-content: center;

    a {
      display: block;

      + a {
        margin-left: 1rem;
      }
    }
  }

  .copyright {
    font-size: 0.75rem;
    line-height: 0.25rem;
    font-weight: 200;
    color: rgba(white, 0.75);
    text-align: center;
    vertical-align: middle;

    img {
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }

  @media all and (min-width: $horizontal_breakpoint) {
    .meta {
      justify-content: space-between;
      padding: 0.5rem $gutter 0;
    }

    .copyright,
    .social {
      flex-basis: auto;
    }

    .social {
      margin-right: 1rem;
    }
  }

  .contact-button-wrap {
    min-height: 9rem;
  }

  .contact-button {
    border: 2px solid white;
    border-radius: 1.5rem;
    max-width: 100%;
    overflow: hidden;
    // Centers the button so it doesn't
    // jump when in contacting mode
    transform: translateY(3.5rem);

    &.contacting {
      transform: translateY(0);
    }

    button {
      border-radius: 0;
      width: 100%;
      border: 0;

      &:hover .fill-target {
        fill: black;
      }
    }

    svg {
      margin-right: 0.5rem;
    }

    .email {
      padding: 1rem;
      background: black;
      border-bottom: 2px solid white;

      &::selection {
        background: $primary;
        color: black;
      }
    }

    .copy,
    .cancel {
      display: flex;
    }

    .copy {
      border-bottom: 2px solid white;
    }

    @media all and (min-width: $button_horizontal_breakpoint) {
      transform: translateY(0);
      display: flex;

      .email,
      .copy {
        border-bottom: none;
      }

      .copy,
      .cancel {
        border-left: 2px solid white;
      }
    }
  }

  .fill-target {
    fill: white;
  }

  a:hover {
    .fill-target {
      fill: $primary;
    }
  }
}
