@import "../variables.scss";

.hero {
  h1 {
    font-size: 3.5rem;
    line-height: 3.25rem;
    margin: 0;
    color: $primary;
  }

  h3 {
    font-size: 1.25rem;
    margin: 0.25rem 0 0;
  }

  p {
    // max-width: 30rem;
    margin-bottom: 0;

    @media all and (min-width: 724px) {
      margin: 0;
    }
  }

  figure {
    margin: 0;
    position: relative;
    transform: translateY(20px);
    z-index: -1;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 20px;
      background: linear-gradient(to top, black, rgba(black, 0));
    }
  }

  header,
  main {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    padding-bottom: 20px;
  }

  @media all and (min-width: 724px) {
    display: flex;
    justify-content: center;
    padding-top: 4rem;

    header {
      display: flex;
      margin-right: 2rem;
      align-self: center;

      figure {
        margin-right: 1rem;
      }
    }
  }
}
