@import "../variables.scss";

$horizontal_breakpoint: 800px;

.hero {
  h1 {
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0;
    color: $primary;
  }

  h2 {
    font-size: 1.25rem;
    margin: 0.25rem 0 0;
  }

  p {
    max-width: 30rem;
    margin-bottom: 0;
  }

  figure {
    margin: 0;
    position: relative;
    transform: translateY(20px);
    z-index: -1;

    @media all and (min-width: $horizontal_breakpoint) {
      transform: translateY(0px);
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 20px;
      background: linear-gradient(to top, black, rgba(black, 0));
    }
  }

  header,
  main {
    margin-left: auto;
    margin-right: auto;
  }

  header {
    max-width: 30rem;

    @media all and (min-width: $horizontal_breakpoint) {
      max-width: unset;
    }
  }

  .more-content {
    &:not(.visible) {
      @extend .offscreen;
    }
  }

  @media all and (min-width: $horizontal_breakpoint) {
    display: flex;
    justify-content: center;
    padding-top: 4rem;

    header,
    main {
      flex-basis: 50%;
    }

    header {
      display: flex;
      align-self: flex-start;
      margin-right: 2rem;

      figure {
        margin-right: 1rem;
      }
    }
  }
}
